* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
}

.container-fluid {
    padding: 0
}

button {
    @include displayFlex;

    border: 1px solid $buttonColor;
    color: $buttonColor;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.button_blue {
    background-color: $buttonColor;
    color: white;
    
    @include displayFlex;

    img {
        width: 20px;
        height: 20px;
    }
}