.header_content {
    @include widthContent;

    #logo {
        height: 30px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid $textColor;

    .buttons {
        color: $textColor;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding-right: 20px;
            }
        }

        button {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    i {
        display: none;
        font-size: 30px;
        color: $textColor;
    }
}

@media screen and (max-width: 991px) {
    header {
        .header_content {
            .buttons {
                display: none;
            }

            i {
                display: block;
            }
        }   
    }
}