$brandColor: #3e14e9;
$buttonColor: #0414b3;
$textColor: #0e14ee;
$textColor2: #7f14d4;

@mixin widthContent {
    width: 80%;
    margin: 0 auto;
} 

@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin clearFix  {
    content: "";
    display: table;
    clear: both;
}