$brandColor: #f6e2d5;
$buttonColor: #2c4792;
$textColor: #ac5440;
$textColor2: #59412d;

@mixin widthContent {
    width: 80%;
    margin: 0 auto;
} 

@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin clearFix  {
    content: "";
    display: table;
    clear: both;
}